@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --containersong-color: linear-gradient(225deg, #f2dc91 10%, #72532a  90%);
  --containersong-colorB: linear-gradient(225deg, #f2dc91 10%, #bdab71  90%);
  --main-color: linear-gradient(90deg, #220116 0%, #000000 100%);
  --footer-color: linear-gradient(180deg, #5a2547 0%, #883660 100%);
  --other-color: linear-gradient(90deg, #55545b 0%, #907b6e 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f1f1f1;
  ;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 0 auto;
  gap: 20px;
  row-gap: 50px;
}

.max-width-a{
  margin: 0 auto;
  max-width: 1000px;
}

.font-1{
  font-family: 'Oswald', sans-serif;;
}

.home-widge-a {
  display: flex;
  width: 100%;
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Posiciona la imagen en el centro del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}



.hover-filter-a:hover {
  transform: scale(1.2);
  filter: brightness(50%);
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.bg-color-ba {
  background: var(--other-color);
}